.card-plant {
  width: 206px;
  height: 245px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 31px 20px 12px 19px;
}

#card-plant-1 {
  width: 440px;
  height: 510px;

  border-radius: 5px;
  padding: 39px 13px 28px 28px;
}

.img-plant {
  width: 135px;
  height: 145px;
}

#img-plant-1 {
  width: 299px;
  height: 353px;
}
