.card-plant {
  width: 206px;
  height: 245px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 31px 20px 12px 19px;

  @media screen and (max-width: 999px) {
    // width: 258px;
    height: 321px;

    width: 217px;
  }
}

#card-plant-1 {
  // width: 440px;
  // height: 510px;
  width: 475px;
  height: 535px;

  border-radius: 5px;
  padding: 39px 13px 28px 28px;

  @media screen and (max-width: 999px) {
    // width: 258px;
    height: 321px;

    width: 217px;
  }
}

.img-plant {
  width: 135px;
  height: 145px;

  @media screen and (max-width: 999px) {
    width: 187px;
    height: 187px;
  }
}

#img-plant-1 {
  width: 299px;
  height: 353px;

  @media screen and (max-width: 999px) {
    width: 187px;
    height: 187px;
  }
}
