@mixin textCardPlant {
  height: auto;
  color: #1e6b4e;
  font-family: Montserrat;
  font-style: normal;
}

.card-plant {
  min-width: 226px;
  min-height: 265px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    width: 258px;
    height: 321px;
  }
}

#card-plant-1 {
  width: 475px;
  height: 555px;
  border-radius: 5px;

  @media screen and (max-width: 1024px) {
    width: 258px;
    height: 321px;
  }
}

.img-plant {
  width: 135px;
  height: 145px;

  @media screen and (max-width: 1024px) {
    width: 187px;
    height: 187px;
  }
}

#img-plant-1 {
  width: 299px;
  height: 353px;

  @media screen and (max-width: 1024px) {
    width: 187px;
    height: 187px;
  }
}

#description-and-icons-1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;

  @media screen and (max-width: 1024px) {
    display: block;
    width: 187px;
    margin: 0;
  }
}

.text-card-plant {
  @include textCardPlant;

  margin: 4px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  width: 160px;
}

#text-card-plant-1 {
  @include textCardPlant;

  font-weight: bold;
  font-size: 32px;
  line-height: 37px;

  @media screen and (max-width: 1024px) {
    height: auto;
    font-family: Montserrat;
    font-style: normal;

    margin: 4px 0;
    line-height: 19px;
    font-weight: bold;
    font-size: 16px;
    width: 160px;
  }
}

.price-card-plant {
  @include textCardPlant;

  font-weight: bold;
  margin: 4px 0;
  font-size: 16px;
  line-height: 28px;
}

#price-card-plant-1 {
  @include textCardPlant;

  margin: 4px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}

.price-icons {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#price-icons-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    justify-content: space-between;
    font-size: 16px;
    flex-direction: row;
  }
}

.icons {
  height: 18px;
  width: 18px;
  margin-left: 8px;
}

#icons-1 {
  height: 28px;
  width: 28px;

  @media screen and (max-width: 1024px) {
    height: 18px;
    width: 18px;
    margin-left: 8px;
  }
}
