.board-select {
    background-color: #FFFFFF;
    height: 300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

}

.card-select {
    background-color: red;
    width: 230px;
    height: 190px;
}

.icon-card-select {
    width: 30%;
}

.text-card-sun {
    
}
