.boardSelect {
    background-color: #FFFFFF;
    height: 300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

}

.cardSelect {
    background-color: red;
    width: 230px;
    height: 190px;
}