.board-select {
  background-color: #ffffff;
  height: 300px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  overflow: hidden;

  @media screen and (max-width: 1100px) {
    gap: 60px;
  };

  @media screen and (max-width: 999px) {
    gap: 40px;
    flex-direction: column;
    height: auto;
    padding: 40px 0;
  };

  @media screen and (max-width: 900px) {
    gap: 40px;
  };
}
