@keyframes rotetateGitHub {
  0% {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(347deg);
  }
  20% {
    transform: rotate(17deg);
  }
  30% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(-70deg);
  }
  80% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(-60deg);
  }
}

.btn-github {
  background-color: rgb(177, 182, 187);
  border-radius: 50%;
  height: 65px;
  width: 65px;
  position: fixed;
   bottom: 50px; 
  right: 15px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  z-index: 101;
  box-shadow: rgb(0 0 0 / 23%) 0px 6px 10px 0px;
}

.btn-github:hover {
  opacity: 0.7;
}

.img-github {
  height: 50px;
  width: 50px;
  margin-top: 3px;
  transform: rotate(-20deg);
  animation-name: rotetateGitHub;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
.img-github:hover {
  opacity: 0.7;
}

.text-github {
  margin-top: 7px;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  color: #1e6b4e;
}
