@import "/src/components/molecules/CardSelect/CardSelect.scss";
@import "/src/components/organisms/Header/HeaderStyles.scss";
@import "/src/components/organisms/BoardSelect/BoardSelectStyles.scss";
@import "/src/components/organisms/BoxNoResults/BoxNoResults.scss";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  pointer-events: none;
}

select {
  -webkit-appearance: none;  
}

select:focus {
  // border: 1px solid #FD9872;
  border: 2px solid;
  outline-style: none;
}

// select.decorated  {
//   background-color: #15573F;
// }
