@import "../../components/organisms/Header/HeaderStyles.scss";
@import "../../components/organisms/BoardSelect/BoardSelectStyles.scss";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: green;
}

img {
  pointer-events: none;
}